<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" id="logo"> <span class="fname">S</span><img height="20px" style="padding-top: 5px; padding-bottom: 10px;" class="logo-mobile" src="/assets/logo11.png" alt="" srcset=""> <span class="fname">ftvision</span> <span class="lname"> Solutions</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon" >menu</span> -->
      <mat-icon style="color: orange;">menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"  >
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#scrollspyHeading1" aria-current="page" [routerLink]="['/home']" routerLinkActive="active" >HOME</a>
        </li>
         <!-- <li class="nav-item" >
          <a class="nav-link" href="#scrollspyHeading3">PRODUCTS</a>
        </li> -->
         <li class="nav-item">
          <a class="nav-link" href="#scrollspyHeading2">WHY CHOOSE US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#scrollspyHeading5" routerLinkActive="active" >ABOUT US</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#scrollspyHeading4">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
