<!-- <app-header></app-header> -->
<div class="about-us container-fluid" style="padding: 40px;" >
      <div class="container" data-aos="fade-down">
        <h2 class="poppins" style="color: orange;">About Us</h2>
        <p> Softvision Solutions provides the range of IT solutions including CRM development, Web Design, Application Development, Online Education, Research & Standardization Unit and SAAS, etc. We also provide call center services at reasonably discounted contracts. Softvision Solutions is the IT branch of Sayal & Sons, registered (Reg. No. 7523421) in Delaware, USA. We provide services worldwide.</p>
        <div class="row">
          <div class="col-md-12" >
            <div class="ereaders-about-us">
              <div class="box2" data-aos="fade-down">
                <h4 style="color: orange;">ERP</h4>
                <p class="lato">
                  We can help you in obtaining the expanded execution results. With our solutions, you will be able to oversee the whole association by speeding up the efficiency and benefit. We can work to get you the Advance Venture Asset Arranging (ERP) instruments that would assist the management with effectively overseeing tasks.
                </p>
              </div>
              <div class="box2" data-aos="fade-down">
                <h4 style="color: orange;">Recruitment</h4>
              <p class="lato">
                Our team can design a tailored system for your organisation to let you manage your administrative requirements in a calculated and efficient manner. We can work on solutions so that your organisation can electronically deal with your specific recruiting needs. The usefulness and the highlights can be customised in light of the requests of your business. We can design a recruitment software to track the hiring process as well. We always tailor and customise each and every software to the specific business operational requirements of all our clients.  

              </p>
              </div>
              <div class="box2" data-aos="fade-down">
                <h4 style="color: orange;">Procurement</h4>
                <p class="lato">
                  We can design software for you to automate all tasks associated with your internal purchasing processes.
                  We can work on a solution to allow our clients to carry out numerous tasks, such as creating or approving the purchase orders. We can incorporate the features of choosing or placing the orders for goods and services in a way that would suit your business framework. This can include getting the invoice and making online payments for the invoices. Having procurement software is essential for every organisation as it helps in the automation of time consuming tasks. 
                  
                </p>
              </div>
              <div class="box2" data-aos="fade-down">
                <h4 style="color: orange;">HRM</h4>
                <p class="lato">
                  We can assist you in streamlining your human resources procedures without any issues at all. We can design the HRM software that will look after all activities related to human resources. This can include finding the best candidates and managing the exit of employees.
                </p>
              </div>

              <div class="box2" data-aos="fade-down">
                <h4 style="color: orange;">Online Payments </h4>
                <p class="lato">
                  We can design a programme of online payments where payments, invoices or order deposits can be automated to bring efficiency and effectiveness in your daily tasks.
With the help of the Online Payments system, suppliers and clients can instantly pay with an easy payment gateway that can include debit and credit cards without doing any additional manual work. We can design a full payment solution that will be able to accept and incorporate all payment methods through independent merchants, enabling you to carry out your transactions without any interruptions. 

                </p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
</div>