<div class="container-fluid product-img">
  <div class="row">
    <div class="col-md-6" data-aos="fade-down">
      <h2 class="poppins" style="color: orange;">Our Products are the mix of
        Growth, Profits, Vision and Power</h2>
      <div class="clearfix"></div>
      <p class="ot lato" style="background-color: rgba(68, 67, 67, 0.61);">
        Build customer and partner experiences, reinvent
core operations and gauge new business models
with the power of Axact’s top-tier Products.
      </p>
    </div>
    
  </div>
</div>
