 <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ereaders-footer-newslatter">
          <h2 class="poppins" style="color: orange;" data-aos="fade-down">Connect with Us</h2>
          <p class="text-white lato" data-aos="fade-down">Softvision Solutions provides the range of IT solutions including CRM development, Web Design, Application Development, Online Education, Research & Standardization Unit and SAAS, etc. We also provide call center services at reasonably discounted contracts. Softvision Solutions is the IT branch of Sayal & Sons, registered (Reg. No. 7523421) in Delaware, USA. We provide services worldwide. </p>
        </div>

        <div class="col-md-12 text-center" data-aos="fade-down">
          <a href="https://wa.me/+64279041685" target="_blank"><button class="btn btn-primary btn-lg btn enq-btn lato">Chat with Us</button></a>
        </div>
      </div>
    </div>
  </div>
