
<div id="navbar-example2">
<app-header></app-header>
</div>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="container-fluid main" tabindex="0">
<div class="image-container" id="scrollspyHeading1">
 <div class="container">
        <div class="row">
        <div class="col-sm-12">
          <p class="box2">As a trailblazing IT enterprise, our company stands as a paragon of innovation, success, and unwavering skill in the ever-evolving realm of technology. At the forefront of transformative solutions, we have earned our stripes as a powerhouse in the industry, delivering a comprehensive suite of services that redefine excellence.</p>
        </div>
        <div class="col-sm-12">
          <p class="box2">Distinguished by our commitment to cutting-edge software development, we craft bespoke solutions tailored to meet the unique needs of our clients. Our prowess extends beyond mere development; we orchestrate digital symphonies that resonate with efficiency, scalability, and future-proof adaptability. In the dynamic landscape of IT, we are architects of progress, constantly pushing boundaries to deliver solutions that propel businesses into the next era.</p>
        </div>
        <div class="col-sm-12">
          <p class="box2">Embracing the ethos of IT outsourcing, we provide a seamless extension of your operations, allowing you to focus on core competencies while we navigate the intricate tapestry of technology management. Our outsourcing services are a testament to our dedication to fostering client success, enabling organizations to transcend limitations and achieve unparalleled operational excellence.</p>
        </div>
        <div class="col-sm-12">
          <p class="box2">In the realm of ongoing support, our commitment to client satisfaction takes center stage. Our dedicated team operates around the clock, ensuring that your systems remain robust and resilient. We understand that in the digital age, downtime is not an option, and our proactive support measures guarantee uninterrupted business continuity.</p>
        </div>
       </div>
       </div>
</div>

<div class="container-fluid" style="height: auto; padding: 30px; background-color:#242424;">
  <div class="row">
    <div class="col-md-3 col-6 text-center border-right d-flex align-items-center justify-content-center" data-aos="fade-down">
      <div class="side-icon">
        <img src="/assets/erp.png" alt="" srcset="">
        <h5 class="poppins">ERP Solutions</h5>
      </div>
      <div class="ereaders-counter-text"></div>
    </div>

    <div class="col-md-3 col-6 text-center border-right d-flex align-items-center justify-content-center" data-aos="fade-down">
      <div class="side-icon">
        <img src="/assets/resourse.png" alt="" srcset="">
        <h5 class="poppins">Human Resource</h5>
      </div>
      <div class="ereaders-counter-text"></div>
    </div>

    <div class="col-md-3 col-6 text-center border-right d-flex align-items-center justify-content-center" data-aos="fade-down">
      <div class="side-icon">
        <img src="/assets/apps.png" alt="" srcset="">
        <h5 class="poppins">Application Development</h5>
      </div>
      <div class="ereaders-counter-text"></div>
    </div>

    <div class="col-md-3 col-6 text-center d-flex align-items-center justify-content-center" data-aos="fade-down">
      <div class="side-icon">
        <img src="/assets/digital.png" alt="" srcset="">
        <h5 class="poppins">Digital Transformation</h5>
      </div>
      <div class="ereaders-counter-text"></div>
    </div>
  </div>
</div>




<div class="parallax" id="scrollspyHeading2">
<app-advantages></app-advantages>
</div>
<div class="parallax" id="scrollspyHeading5">
  <app-about-us></app-about-us>
  </div>
<!-- <div class="sm-sec" id="scrollspyHeading3">
    <app-products></app-products>
</div> -->

<div class="ereaders-footer-widget footer-parallax" >
 <app-contactus></app-contactus>
</div>

<div class="container-fluid ereaders-copyright">
  <div class="container">
    <div class="row" >
      <div class="col-md-4" id="scrollspyHeading4">
        <p class="poppins">&copy;2023, All Right Reserved</p>
      </div>
      <div class="col-md-4" ><p>
        <!-- <a href=""><img src="assets/email.png" style="height: 45px; border-radius: 10px;" alt="Logo" /></a> -->
        <a href=""><img src="assets/linkedin.png" style="height: 40px; border-radius: 10px;" alt="Logo" /></a>
        <a href="https://www.facebook.com/profile.php?id=100063604666856&mibextid=rS40aB7S9Ucbxw6v"><img src="assets/facebook.png" style="height: 40px; border-radius: 10px;" alt="Logo" /></a>
        <a href=""><img src="assets/instagram.png" style="height: 40px; border-radius: 10px;" alt="Logo" /></a>
        <a href=""><img src="assets/twitter.png" style="height: 40px; border-radius: 10px;" alt="Logo" /></a>
        <a href="https://whatsapp.com/channel/0029VaFvbHU9mrGdaRCGjA1G"><img src="assets/whatsapp2.png" style="height: 40px; border-radius: 10px;" alt="Logo" /></a>
     </p> </div>
     <div class="col-md-4" >
      
      <p class="poppins"><b>Email:</b><span> info@softvisionsolutions.com</span></p>
     </div>
    </div>
  </div>
</div>
<div class="floating-button">
  <!-- Add your button content here -->
  <a href="https://wa.me/+64279041685" target="_blank"><button style="background-color: orange; border-radius: 10px;"><b style="margin: 10px; color: white;">Chat with Us</b> <img  src="/assets/whatsapp.png" height="50px" style="border-radius: 15px;" alt="" srcset=""></button></a>
  
</div>
<div class="arrowUp">
  <a href="#scrollspyHeading1" class="nav-link" id="moveUpButton">
    <button style="background-color: orange; border-radius: 10px;">
      <img src="/assets/uparrow.png" height="50px" style="border-radius: 15px;" alt="" srcset="">
    </button>
  </a>
</div>
</div>
